html,
body {
    background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    overflow-x: hidden;
}

* {
    transition: 0.4s;
}

.header {
    position: sticky;
    top: 0;
    z-index: 999;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.3);
    border-bottom: none;
}

.header,
.header * {
    background: transparent;
    border: none;
}

.logo {
    width: 120px;
    height: 31px;
    background: rgba(255, 255, 255, 0.2);
    margin: 16px 28px 16px 28px;
    float: left;
}

.site-layout-background {
    background: #fff;
}

.brown-linear-bg {
    background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
    transition: 1s ease-in-out;
}

.brown-linear-bg * {
    color: white;
}

.brown-linear-bg *:hover {
    color: black;
}

.hoverable:hover {
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.3);
}

.text-white {
    color: white;
}

.custom-h1 {
    font-family: 'Haas Grot Text R Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px;
}
.description {
    margin: 20px 0;
}

section {
    display: block;
}

.content-section {
    box-sizing: border-box;
    margin-right: auto;
    margin-left: auto;
    height: calc(100%);
    clear: both;
    padding: 4em;
}

@media (min-width: 768px) {
    .content-section {
        padding: 4em;
    }
}

.content-flex-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.website-footer {
    padding: 4em;
}

.footer-links {
    display: flex;
    flex-direction: column;
}

.footer-links * {
    margin-top: 10px;
}

/* collapsible side nav */
@media (max-width: 850px) {
    .collapsible-sidenav {
        height: 100%;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.25) 0px 0px 48px;
        position: fixed;
        z-index: 2;
        opacity: 1;
        visibility: visible;
        transform: none;
        transition-property: transform, opacity, visibility;
        transition-duration: 150ms;
        transition-timing-function: ease-in-out;
    }
}

.collapsible-sidenav-logo {
    margin-bottom: 24px;
}

.collapsible-sidenav-options {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-bottom: 32px;
}

.collapsible-sidenav-list-items {
    margin-left: 0;
    list-style: none;
    margin-bottom: 32px;
}
